@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../images/pexels-ketut-subiyanto-4349932.jpg);
    font-family: 'Roboto Condensed';
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper{
    margin-top: 10%;
}

.wrapper h1{
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}

.team{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.team .team_member{
    background: #E6B173;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height:  20px;
    color: #000;
    position: relative;
}

.team .team_member h2{
    color: #000;
    font-size: 26px;
    margin-top: 50px;
}

.team .team_member p .role{
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}

.team .team_member .team_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: #D7D3CE;

}

.team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 10px;
}



